@import url(utility.css);

/* #region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* #endregion */

/* #region TYPOGRAPHY */
body {
    line-height: 1.5;
}

body,
.btn {
    font-family: "PT Sans", sans-serif;
}

.intro .card>i {
    font-size: 4rem;
}

.btn {
    font-size: 1rem;
}

.demo-left .btn,
.intro p {
    font-weight: 700;
}

/* #endregion */

/* #region LAYOUT */
.container-xl {
    max-width: 1140px;
    padding: 0 1.25rem;
}

.row {
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

.card {
    height: 100%;
    border-radius: 1rem;
}

/* #endregion */

/* #region BUTTON */
.btn {
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* #endregion */

/* #region HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-right li {
    padding-right: 2rem;
}

.mobile-only {
    display: none;
}

/* #endregion */

/* #region MAIN */

/* #region INTRO */
.intro {
    padding-top: 3.125rem;
    padding-bottom: 6.5rem;
}

.intro .col {
    width: calc(100% / 3);
}

.intro .col:first-child {
    flex-grow: 1;
}

.intro .col:not(#not-center) {
    text-align: center;
}

.intro [class^=demo] {
    width: 50%;
}

.intro .demo-right {
    align-self: flex-end;
}

.intro .demo-right img {
    max-width: 250px;
}


/* #endregion */

/* #endregion */

/* #region RESPONSIVE */

/* #region TABLET MAX 992PX */
@media screen and (max-width:992px) {
    .mobile-only {
        display: block
    }

    .desktop-only {
        display: none;
    }

    .intro .card.d-flex {
        flex-direction: column;
    }

    .intro .demo-right {
        align-self: flex-start;
        padding: 0;
    }

    .intro .demo-left {
        width: 100%;
    }

    .intro .btn {
        margin-bottom: 2.5rem;
    }
}

/* #endregion */

/* #region MOBILE MAX 768PX */
@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }

    .intro .col {
        width: 100%;
    }

    .intro .demo-right {
        width: 100%;
    }

    .intro .demo-right img {
        max-width: 100%;
    }
}

/* #endregion */

/* #endregion */