@import url(utility.css);

/* #region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* #endregion */

/* #region TYPOGRAPHY */
body {
    line-height: 1.5;
}

body,
.btn {
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-size: 3rem;
}

.intro .card>i {
    font-size: 4rem;
}

.btn {
    font-size: 1rem;
}

.demo-left .btn,
.intro p {
    font-weight: 700;
}

/* #endregion */

/* #region LAYOUT */
.container-xl {
    max-width: 1140px;
    padding: 0 1.5rem;
}

.row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;
}

.col {
    padding: 0 0.75rem;
}

.card {
    height: 100%;
}

/* #endregion */

/* #region BUTTON */
.btn {
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* #endregion */

/* #region HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-right li {
    padding-right: 2rem;
}

.mobile-only {
    display: none;
}

/* #endregion */

/* #region MAIN */

/* #region INTRO */
.intro .col {
    width: calc(100% / 3);
}

.intro .col#not-center {
    flex-grow: 1;
}

.intro [class^=demo] {
    width: 50%;
}

.intro .demo-right {
    align-self: flex-end;
}

.intro .demo-right img {
    max-width: 250px;
}

/* #endregion */

/* #region PLANNING */
.planning .row {
    margin-bottom: 0;
}

.planning .col {
    width: 35%;
}

.planning .card img {
    max-width: 200px;
}

.planning .btn {
    padding: 0.75rem 0.90rem;
    border-radius: 50rem;
}

/* #endregion */

/* #region TESTIMONIALS */
.testimonials-text {
    margin-bottom: 2.5rem;
}

.testimonials .card:not(:last-child) {
    margin-bottom: 2rem;
}

.testimonials .card-left {
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    overflow: hidden;
}

.testimonials .card-left img {
    height: 100%;
    object-fit: cover;
}

.testimonials .card-right {
    width: 70%;
}

/* #endregion */

/* #endregion */

/* #region RESPONSIVE */

/* #region TABLET MAX 992PX */
@media screen and (max-width:992px) {
    .mobile-only {
        display: block
    }

    .desktop-only {
        display: none;
    }

    .intro .card.d-flex {
        flex-direction: column;
    }

    .intro .demo-right {
        align-self: flex-start;
    }

    .intro [class^=demo] {
        width: 100%;
    }

    .intro .btn {
        margin-bottom: 2.5rem;
    }

    .planning .row {
        flex-direction: column;
    }

    .planning .col {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .planning h2 {
        font-size: 4.5rem;
    }

    .planning .card img {
        max-width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

}

/* #endregion */

/* #region MOBILE MAX 768PX */
@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }

    .intro .col {
        width: 100%;
    }

    .intro .col:not(:last-child) {
        padding-bottom: 1.5rem;
    }

    .intro .demo-right img {
        margin: 0 auto;
    }

    .planning h2 {
        font-size: 2rem;
    }

    .testimonials {
        font-size: 1.35rem;
    }

    .testimonials .card {
        flex-direction: column;
        text-align: center;
    }

    .testimonials .card-left {
        margin-bottom: 1.5rem;
    }

    .testimonials .card-right {
        width: 100%;
    }
}

/* #endregion */

/* #endregion */