@import url(utility.css);

/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* #endregion */

/* #region TYPOGRAPHY */
body {
    line-height: 1.5;
}

body,
.btn {
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-size: 3rem;
}

.intro .card>i {
    font-size: 4rem;
}

.btn {
    font-size: 1rem;
}

.demo-left .btn,
.intro p {
    font-weight: 700;
}

.about-us .about-right p {
    font-size: 1.5rem;
}

.about-us .about-right .btn {
    font-size: 0.75rem;
}

/* #endregion */

/* #region LAYOUT */
.container-xl,
.container-l,
.container-s {
    padding: 0 1.5rem;
}

.container-xl {
    max-width: 1140px;
}

.container-l {
    max-width: 960px;
}

.container-s {
    max-width: 540px;
}

.row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.col {
    padding: 0 0.75rem;
}

.card {
    height: 100%;
}

/* #endregion */

/* #region BUTTON */
.btn {
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* #endregion */

/* #region HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-right li {
    padding-right: 2rem;
}

.mobile-only {
    display: none;
}

/* #endregion */

/* #region MAIN */

/* #region INTRO */
.intro .row {
    margin-bottom: 1.5rem;
}

.intro .col {
    width: calc(100% / 3);
}

.intro .col#not-center {
    flex-grow: 1;
}

.intro [class^=demo] {
    width: 50%;
}

.intro .demo-right {
    align-self: flex-end;
}

.intro .demo-right img {
    max-width: 250px;
}

/* #endregion */

/* #region PLANNING */
.planning .row {
    margin-bottom: 0;
}

.planning .col {
    width: 35%;
}

.planning .card img {
    max-width: 200px;
}

.planning .btn {
    padding: 0.75rem 0.90rem;
    border-radius: 50rem;
}

/* #endregion */

/* #region TESTIMONIALS */
.testimonials-text {
    margin-bottom: 2.5rem;
}

.testimonials .card:not(:last-child) {
    margin-bottom: 2rem;
}

.testimonials .card-left {
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    overflow: hidden;
}

.testimonials .card-left img {
    height: 100%;
    object-fit: cover;
}

.testimonials .card-right {
    width: 70%;
}

/* #endregion */

/* #region BENEFITS */
.benefits .col {
    width: calc(100% / 3);
    margin-bottom: 1.5rem;
}

.benefits .container-xl>h1 {
    margin-bottom: 4rem;
}

/* #endregion */

/* #region ABOUT US */
.about-us .about-fleft {
    line-height: 2;
}

.about-us .container-l h1 {
    margin-bottom: 2rem;
}

.about-us .about-left {
    width: 70%;
}

.about-us .about-right {
    width: 200px;
    height: 200px;
}

.about-us .about-img {
    position: relative;
}

.about-us .about-img img {
    border-radius: 50rem;
}

.about-us .about-img h1 {
    position: absolute;
    top: 0;
    right: 0;
}

/* #endregion */

/* #endregion */

/* #region RESPONSIVE */

/* #region TABLET MAX 992PX */
@media screen and (max-width:992px) {
    .mobile-only {
        display: block
    }

    .desktop-only {
        display: none;
    }

    .intro .card.d-flex {
        flex-direction: column;
    }

    .intro .demo-right {
        align-self: flex-start;
    }

    .intro [class^=demo] {
        width: 100%;
    }

    .intro .btn {
        margin-bottom: 2.5rem;
    }

    .planning .row {
        flex-direction: column;
    }

    .planning .col {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .planning h2 {
        font-size: 4.5rem;
    }

    .planning .card img {
        max-width: 100%;
    }

    .benefits .col {
        width: 50%;
    }

    .benefits .col:nth-child(5),
    .benefits .col:last-child {
        margin-bottom: 0;
    }

    .about-us .container-l {
        max-width: 720px;
    }
}

/* #endregion */

/* #region MOBILE MAX 768PX */
@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }

    .intro .col,
    .benefits .col,
    .about-us .col {
        width: 100%;
    }

    .intro .col:not(:last-child) {
        padding-bottom: 1.5rem;
    }

    .intro .demo-right img {
        margin: 0 auto;
    }

    .planning h2 {
        font-size: 2rem;
    }

    .testimonials {
        font-size: 1.35rem;
    }

    .testimonials .card {
        flex-direction: column;
        text-align: center;
    }

    .testimonials .card-left {
        margin-bottom: 1.5rem;
    }

    .testimonials .card-right {
        width: 100%;
    }

    .testimonials h1,
    .benefits .container-xl>h1 {
        font-size: 2.125rem;
    }

    .benefits .col:nth-child(5) {
        margin-bottom: 1.5rem;
    }

    .about-us .about-img {
        width: 150px;
        height: 150px;
        margin: 1.75rem 0;
    }
}

/* #endregion */

/* #endregion */