/* #region TEXT */
.text-white {
    color: #ffffff;
}

.text-blue {
    color: #0084fd;
}

.text-grey {
    color: #5a6e7f;
}

/* #endregion */

/* #region PADDING */
.pt-25 {
    padding-top: 2.5rem;
}

.py-075 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-125 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-25 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-325 {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
}

/*  #endregion */

/* #region MARGIN */
.mx-auto {
    margin: 0 auto;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*  #endregion */

/* #region BACKGROUND */
.bg-blue {
    background-color: #0084fd;
}

.bg-white {
    background-color: #ffffff;
}

.bg-lightblue {
    background-color: #b5ddff;
}

/* #endregion */

/* #region DISPLAY */
.d-flex {
    display: flex;
}

/* #endregion */

/* #region FLEX*/
.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* #endregion */